.new-tweet {
  position: relative;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 2em;
  margin-right: 2em;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 0px;
}

.new-tweet textarea {
  width: 100%;
}

.new-tweet #submit-button {
  float: left;
}

.new-tweet span.counter {
  float: right;
  margin-top: 5px;
  color: black;
}

.new-tweet span.exceeded-counter {
  color: red;
}


/*User-Rejection Technology Styles (Replaces new-tweet box.)*/
.error span {
  color: red;
  font-weight: 700;
  font-size: 0.7em;
  margin-left: 10px;
  float: left;
  padding-top: 7px;
  display: none;
}

.reject-user {
  border: red solid 4px;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  background-color: black;
  margin-bottom: 1em;
  color: #ccc;

}

.reject-user span.dictionary-definition p {
  padding-left: 2em;
}

.reject-user span.word {
  font-size: 1.5em;
  color: #fff;
  line-height: 1.5em;
}

.reject-user span.word a {
  text-decoration: none;
  color: #fff;
}

.reject-user span.rejection-message {
  color: red;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
}