.new-tweet {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 2em;
  margin-right: 2em;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 0px;
  /*line-height: 0px;*/
}

.new-tweet textarea {
  width: 100%;
}

.new-tweet span.counter {
  float: right;
  margin-top: 5px;
}